@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --body-color: #eeeeff;
    --nav-color: #0996FF;
    --bg-color: #fff;
    --bg-colorbtn: #efefef;
    --bg-divcolur:#fff;
    --bg-divcolur-sidebar:#fff;
    --bg-help-head:#c2d7f1;
    --text-color:#000;
    --messege-body: #0996FF;
    --profile-bar-png:url(image/mini-profile-bg.png);
}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000000;
    --bg-colorbtn: #1b1a1a;
    --bg-divcolur:#d8d6d615;
    --bg-divcolur-sidebar:#24292D;
    --bg-color: #000;
    --bg-help-head:#252b32;
    --text-color:#eee;
    --messege-body: #000;
    --profile-bar-png:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(image/mini-profile-bg.png);
}
body{
    background-color: var(--body-color);
    transition: background 0.3s;
}
::-webkit-scrollbar{
    display: none;
}


/* Code Editor */
.code-editor-body{
    background: #454545;
    color: #fff;
}
.code-editor-container{
    width: 100%;
    padding: 20px;
    display: flex;
}
.code-editor-container .left, .code-editor-container .right{
    flex-basis: 50%;
    padding: 10px;
   
}
.code-editor-container .left textarea{
    width: 100%;
    height: 28%;
    background: #1f1f1f;
    color: #eafa5f;
    padding: 10px 20px;
    outline: 0;
    border: 0;
    font-size: 13px;
}

.code-editor-container .left .textarea-first-child, .fa-html5{
    color: #e22b0b;
}
.code-editor-container .left .textarea-last-child, .fa-js{
    color: #ffee02;
}
.code-editor-container .left .textarea-last-child, .fa-css3-alt{
    color: #00d6fc;
}
#codeEditorOutput{
    width: 100%;
    height: 100vh;
    background: #fff;
    border: 0;
    outline: 0;
}
.code-editor-container div label{
    display: flex;
    background: #000;
    align-items: center;
    height: 30px;
    width: 100%;
}
.code-editor-container div label i{
    margin-right: 10px;
    margin-left: 10px;
}


@media screen and (max-width:780px) {
    
.code-editor-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    }

    .code-editor-body{
        height:max-content;
    }
}